<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="resource quater-width">
            	<span class="check-span">거처</span>
                <input type="checkbox" name="data.residence" {{#if data.residence}} checked {{/if}} />
            </div>
            <div class="resource quater-width">
            	<span class="check-span">비밀</span>
                <input type="checkbox" name="data.secret" {{#if data.secret}} checked {{/if}} />
            </div>
            <div class="resource double-width">
            	<span>감정</span>
                <input type="text" class="string-input" name="data.feeling" value="{{data.feeling}}" data-dtype="String"/>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
