<div class="dice-roll">
    {{#if flavor}}
    <div class="dice-flavor">{{flavor}}</div>
    {{/if}}
    <div class="dice-result">
        <div class="dice-formula">{{formula}} >= {{num}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">
            {{total}}
            {{#ifSuccess total num}} 
               {{#ifEquals total "12"}} <span style="color: #0f6f0f; font-size:0.7em;"> ▶ {{localize "INSANE.Special"}} </span>
                   {{else}}<span style="color: #0f6f0f; font-size:0.7em;"> ▶ {{localize "INSANE.Success"}}  </span>
               {{/ifEquals}}
            {{else}} 
               {{#ifEquals total "2"}} <span style="color: #862020; font-size:0.7em;"> ▶ {{localize "INSANE.Fumble"}} </span>
                  {{else}}<span style="color: #862020;font-size:0.7em;"> ▶ {{localize "INSANE.Fail"}} </span>
               {{/ifEquals}} 
            {{/ifSuccess}}
        </h4>
    </div>
</div>
